@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}



.nav {
    align-items: center;
    background: #1D0527;
    color: white;
    display: flex;
    justify-content: space-between;
    /*min-width: 1440px;*/
    /*justify-content: space-around;*/
    /*width: 1440px;*/
    height: 124px;
    margin: 0, auto;
    position: absolute;
    left: 0;
    padding: 32px 120px;
    right: 0;
    top: 0;
/*    width: 100%;*/
    /*width: 100%;*/
}

.logocion {

}

.logoicon {
    /*color: #FFFFFF;*/
    /*height: 39.32px;*/
    /*position: absolute;*/
    /*width: 36.6px;*/
    padding-left: 15px;
    width: 250px;
}

.navname{
    height: 39.32px;
    left: 27.94px;
    position: absolute;
    /*top: 0.57px;*/
    width: 99.6px;
}

Logo {
    cursor: pointer;
}

.menus {
    display: flex;
    font-family: "Lato", sans-serif;
    gap:  97px;
    color: #FFFFFF;
    flex: none;
    flex-grow: 0;
    order: 0;
    width: 840px;
}

.navitemone {
    color:  FFFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    height: 24px;
    left: 8px;
    line-height: 24px;
    top: 8px;
    width: 63px;
}


.navitemtwo {
    color:  FFFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    height: 24px;
    left: 8px;
    line-height: 24px;
    top: 8px;
    width: 66px;
}


.navitemthree {
    color:  FFFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    left: 8px;
    line-height: 24px;
    height: 24px;
    top: 8px;
    width: 61px;
}


.navitemfour {
    color:  FFFFFFF;
    cursor: pointer;
    display: flex;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    left: 8px;
    line-height: 24px;
    height: 24px;
    top: 8px;
    width: 57px;
}

.rightbutoon {
    gap: 50px;
}

.login {
    background: #1D0527;
    border: solid white;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'lato', sans-serif;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
    margin-right: 50px;
    height: 60px;
    line-height: 24px;
    width: 174px;
}


.en {
    align-items: center;
    cursor: pointer;
    gap:  10px;
    justify-content: center;
    paddiing: 16px 10px;
    height: 60px;
    width: 66px;
}

.en option {
    color: #080808;
    flex: none;
    flex-grow: 0;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    order: 0;
    width:  22px; 
}

main {
    text-align: center;
}

.headerone {
    text-align: center;
    color: #080808;
    font-family: "Lato", sans-serif;
    line-height: 54px;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    flex: none;
    order: 0;
    flex-grow: 0;    
}

.toptext {
    color: #6E6E6E;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 27px;
    height: 54px;
}


.questions input {
    background: #EEE7F1;
    border: solid #EEE7F1;
    border-radius: 8px;
    color: #6E6E6E;
    font-family: "Lato", sans-serif;
    line-height: 24px
    font-size: 16px;
    font-weight: 500;
    height: 64px;
    outline-color: #540D6E;
    padding: 20px;
    width: 794px;
}


.suggestions {
    color: #939393;
    font-family: "Lato", sans-serif;
    line-height: 28px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.options {
    align-items: center;
    border-radius: 1px soolid red;
    display: flex;
    gap:  35px;
    justify-content: center;
    /*margin: 0;
    border: 0;#*/
    padding-bottom: 20px;
    /*height: 64px;
    width: 794px;   */
}

.itemone {    
    background: #EEE7F1;
    border-radius: 8px;
    color: #6E6E6E;
    font-family:  "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    height: 54px;
    /*justify-content: center;*/
    gap: 104px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    width: 184px;
} 

.itemone p{
    /*height: 24px;
    width: 70px;*/
}

.itemtwo {
    align-items: center;
    background: #54006E;
    border-radius: 8px;
    color: #FFFFFF;
    font-family:  "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    height: 54px;
    /*justify-content: center;*/
    gap: 104px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    width: 184px;
}

.itemtwo p{
    /*height: 24px;
    width: 43px;*/
} 

.itemthree {
    background: #EEE7F1;
    border-radius: 8px;
    color: #6E6E6E;
    font-family:  "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    height: 54px;
    /*justify-content: center;*/
    gap: 104px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    width: 184px;
}

.itemthree p{
    /*height: 24px;
    width: 132px;*/
}

.itemfour {
    background: #EEE7F1;
    border-radius: 8px;
    color: #6E6E6E;
    font-family:  "Lato", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    height: 54px;
    /*justify-content: center;*/
    gap: 104px;
    line-height: 24px;
    padding: 15px 0;
    text-align: center;
    width: 184px;  
}

.itemfour p{
    /*height: 24px;
    width: 90px;*/
}

.changelater {
    color: #939393;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.givefeatures {
    color: #939393;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.itemselect {
    border: 2px;
    color: #FFFFFF;
    color: #1D0527;
    height: 4.5px;
    width: 9px;
}

/*media querries*/
@/*media (max-width:  400px) {

  body {
    
  }
}

@media (min-width: 401px) and (max-width: 960px) {
  
  body {
    
  }
}

@media (min-width:  961px) {
  
  body {

  }
}*/








h3 {
    color: #080808;
    flex: none;
    font-family: myfont;
    font-size: 35px;
    font-style: normal;
    line-height: 54px;
    height: 54px;
    width: 353px;
    /* order: 0; */
    /* flex-grow: 0; */
    /* margin-left: 200px; */
}



@font-face {
    font-family: myfont;
    src: url(Lato-Bold.ttf);
}

@font-face {
    font-family: mysecond;
    src: url(Lato-Light.ttf);
}

@font-face {
    font-family: mythird;
    src: url(Lato-Medium.ttf);
}

#topdiv {
    align-items: center;
    display: flex;
    flex: none;
    flex-direction: column;
    flex-grow: 0;
    font-size: 36px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    justify-content: center;
    line-height: 54px;
}

.signup {
    background: #540D6E;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: mysecond;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    gap: 10px;
    padding: 16px 20px;
    height: 60px;
    line-height: 24px;
    top: 70ox;
    width: 794px;
}


.footer {
    background: #260631;
    display: grid;
    grid-template-areas: 'a b c' 'a d c';
    height: 492px;
    left: 0px;
    right: 0px;
    margin-top: 100px;
    /*min-width: 1440px;*/
    padding: 50px;
    position: absolute;
    /*width: 1440px;*/
    top: 1188px;
}


.logo {
    color: #FFFFFF;
    font-family: myfont;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    height: 54px;
    line-height: 54px;
    left: 123px;
    position: absolute;
    text-transform: uppercase;
    top: 61px;
    width: 103px;
}

.lorem {
    color: #FFFFFF;
    font-family: mysecond;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 96px;
    left: 123px;
    line-height: 24px;
    position: absolute;
    text-align: justify;
    top: 147px;
    width: 356px;
}

.lists {
    align-items: ;
    color: #FFFFFF;
    font-family: mythird;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    /* font-style: normal; */
    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
}

.firstdiv {
    grid-area: a;
    margin-right: 500px;
    padding: 50px;
}

.seconddiv {
    grid-area: b;
    padding: 50px;
    /* padding-left: 100px; */
    /* margin-left: 100px; */
}


.thirimages{
    
}

.thirddiv {   
    grid-area: c;
    margin-right: 300px;
    padding: 50px;
    width: 200px;
}

.thirdtext {
   
}

.thirdimages {
    grid-area: d;
    margin-top: 55px;
    padding: 15px;
    /* margin-right: 100px; */
    /* margin-left: 0px; */
}

.thirdimages p {
    width: 220px;
}

.footericon{
    left: 123px;
    position: absolute;
}

.playstore {
    left: 123px;
    height: 96px;
    position: absolute;
    top: 300px;
    width: 356px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.icons {
    /* position: absolute; */
    /* width: 40px;
    height: 40px;
    left: 539px;
    top: 281px; */
    background: #CCCCCC;
    border-radius: 20px;
    padding: 7px;
}