@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif; 
}
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: #1D0527;
    padding: 25px 100px;
    z-index: 10;
}



/** **/
header .logo{
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    color: white;

}
header .navigation{
    display: flex;
}
.fa-solid fa-chevron-down{
    color: #ffffff;
}
header .navigation li{
    list-style: none;
    margin: 0 30px;
}
header .navigation li a{
    color: #FFFFFF;
    width: 63px;
    height: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
header .navigation li a:hover{
    color:  #540D6E;
}
header .side{
    position: relative;
    display: flex;
    width: 250px;
}
header .side .getstarted-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    margin-right:10px;
    margin-left:10px;
    width: 174px;
    height: 90px;
    background: #540D6E;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 134px;
    height: 46px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F9F9F9;
    cursor: pointer;
}
header .side .login-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: 42px;
    height: 24px;
    border:solid white 1px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 110px;
    height: 44px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F9F9F9;
    cursor: pointer;
}
header .side .country-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: 4px;
    height: 60px;
    background: #ffffff;
    border-radius: 5px;
    flex: none;
    order: 1;
    flex-grow: 0;
    width: 24px;
    height: 14px;;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    border: 2px solid #080808;
}
.content{
    background-image:url("./images/template-page.jpg");
    padding: 450px;
}
.bold-text{
    /* Templates websites for designers companies, and individuals */
    position: absolute;
    width: 907px;
    height: 144px;
    left: 207px;
    top: 126px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;    /* or 150% */
    text-align: center;
    text-transform: uppercase;
    /* Colour */
    color: #FFFFFF;
}
.small-text{
    /* Make your choice from more than 1,000 company, portfolio, and blog templates using the NO-CODE design tools provided by us. */

    position: absolute;
    width: 1138px;
    height: 96px;
    left: 90px;
    top: 300px;

    /* Heading/H5 - Bold */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    /* or 150% */
    text-align: center;

    /* Colour */
    color: #FFFFFF;


}
.search{
    /* image 15 */
    position: absolute;
    width: 650px;
    height: 50px;
    top:450px;
    left: 340px;
    color: #F9F9F9;
    border-color: rgba(27, 29, 40, 0.6);
    
}
.search input{
    width: 100%;
    height: 100%;
    background-color:transparent;
    top:0;
    left: 0; 
}
.common-search{
    position: relative;
    top:60px;
    margin-right: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;

}

.ent-btn{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 60px;
gap: 104px;
width: 184px;
background: #FFFFFF;
border-radius: 8px;
padding-top: 20px;
padding-bottom: 30px;
margin-top: 40px;
gap: 24px;
width: 167px;
height: 28px;
order: 0;
flex-grow: 0;
width: 167px;
height: 28px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #080808;
width: 180px;
height: 32px;

}
.blog-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:80px;
    gap: 104px;
    width: 184px;
    background: #FFFFFF;
    border-radius: 8px;

    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
    gap: 24px;
    width: 167px;
    height: 28px;
    order: 0;
    flex-grow: 0;
    width: 267px;
    height: 28px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #080808;
    width: 180px;
    height: 32px;
    margin-right: 10px;
    
    }
    .fashion-btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 80px;
        gap: 104px;
        width: 184px;
        background: #FFFFFF;
        border-radius: 8px;
        padding-top: 20px;
        padding-bottom: 30px;
        margin-top: 40px;
        gap: 24px;
        width: 167px;
        height: 28px;
        order: 0;
        flex-grow: 0;
        width: 167px;
        height: 28px;
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        color: #080808;
        width: 180px;
        height: 32px;
        margin-right: 10px;
        
        }
        .portfolio-btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 104px;
            width: 184px;
            background: #FFFFFF;
            border-radius: 8px;
        
            padding-top: 30px;
            padding-bottom: 30px;
            margin-top: 40px;
            gap: 24px;
            width: 167px;
            height: 28px;
            order: 0;
            flex-grow: 0;
            width: 167px;
            height: 28px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #080808;
            width: 180px;
            height: 32px;
            margin-left:105px;
            margin-top: 10px;          
            }
.all-search-btn{
    display: flex;
    margin-top: 50px;
    margin-left: -85px;
  
}
.grid-container{
    background: white;
    margin-top: -380px;
    margin-bottom: 50px;
   
}
.grid-images{
    margin-left: 40px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}
.images{
    flex: 1;
    box-shadow: 0px 10px 20px rgba(134, 45, 255, 0.2);
    border-radius: 25px;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 14px;
    padding-left: 14px;
    padding-top: 30px;
    padding-right: 5px;  

}
@media (min-width: 1200px) {
    .grid-images{
    
    }
    .images{
        flex:2;
    }
}

@media (max-width: 900px) {
 
}

.top-explore-button{
    background-color:#ffff;
    color: #540D6E;
    border:  #540D6E 1.5px solid;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 1000px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}
.bottom-explore-button{
    background-color:#ffff;
    color: #540D6E;
    border:  #540D6E 1.5px solid;
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 540px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}
.web-template{
    margin-left: 50px;
    margin-bottom: -93px;
    margin-top: 15px;
    padding-top: 30px;   
}
.web-template-bold{
    font-weight: bold;
}
.web-template-small{
    color: #6E6E6E;
}
.images .bold{
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
   
}
.images .small{
    color: #6E6E6E;
    margin-bottom: 30px;
}

/* FOOTER PAGE STYLE START */
.footer-main {
    height: 400px;
    background-color: #260631;
    padding: 70px;
  }
  
  .footer-main h3, 
  .footer-main p {
    color: white;
    text-align: start;
  }
  
  .row #get-app {
    flex-wrap: nowrap;
    width: 40%;
    margin-top: 8%;
  }
  
  .row #social-media {
    flex-wrap: nowrap;
    width: 15%;
    margin-top: 8%;
  }
  
  .row #footer-link-1 {
    width: 0%;
    margin-left: 20%;
  }
  
  .footer-main a {
    color: white;
    text-decoration: none;
    margin: 5px;
  }
  
  .footer-main a:hover {
    text-decoration:underline;
  }
  
  #footer-link {
    align-self: center;
    margin-left: 5%;
  }
  
  @media (max-width: 926px) {
  
    .footer-main {
      height: 600px;
    }
  
    #footer-link {  
      margin-left: 0%;
    }
  
    .footer-main a {
      flex-basis: fit-content;
    }
  
    .row #social-media {
      flex-wrap: nowrap;
      width: 15%;
      margin-top: 8%;
    }
  
    .row #get-app {
      width: 40%;
    }
  
    .row a {
      padding-right: 0%;
      margin-top: 5%;
    }
  
  }
  
  @media (max-width: 1200px) {
    
    .footer-main {
      height: 500px;
    }
  
    .row #social-media {
      width: 20%;
      margin-top: 8%;
    }
  
    .row #get-app {
      width: 50%;
    }
  
    .row {
      margin-right: 0%;
    }
    
  }
  
  @media (max-width: 800px) {
    
    .footer-main {
      height: 680px;
    }
    
  }
  
  /* FOOTER PAGE STYLE END */