* {
  margin: 0;
  padding: 0;
  font-family: "Lato", cursive;
  max-height: 100vh;
}
.logo {
  width: 250px;
  padding: 50px;
  padding-right: 12px;
}
.content {
  justify-content: center;
  margin: auto;
  align-items: center;
}
.content form .user-details {
  display: block;
}
form .user-details .set {
  align-items: center;
  padding-bottom: 30px;
}
.set h2 {
  text-align: center;
  margin: auto;
  font-weight: 550;
  font-size: 30px;
}
form .user-details .input-box {
  display: grid;
  margin: auto;
  justify-content: center;
  padding: 0px;
}
label {
  padding: 10px;
  font-size: 15px;
}
.user-details .input-box input {
  height: 60px;
  width: 516px;
  outline: none;
  border: 2px #dddddd solid;
  background-color: #dddddd;
  padding-left: 15px;
  border-radius: 5px;
  transition: 0.5s;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #320842;
  background: #fff;
}

.below {
  display: flex;
  padding: 30px;
  justify-content: center;
  font-size: 10px;
  padding-right: 155px;
  font-family: "Lato";
  line-height: 15px;
}
.instruction1 ul li {
  color: #9e8d8d;
}

.savebtn {
  display: grid;
  justify-content: center;
  text-align: center;
}
.savebtn button {
  display: flex;
  height: 45px;
  width: 516px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: -7px;
  gap: 10px;
  outline: none;
  border: none;
  background-color: #540d6e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-color: #320842;
}
.terms {
  margin-top: 10px;
  font-size: 14px;
  color: #bababa;
}
.terms a {
  text-decoration: none;
  color: #3f0a53;
}
.input-box i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
}
.bi-eye {
  color: #8e98a8;
}
.user-details .success input {
  border-color: #19b500;
}
.user-details .error input {
  border-color: #e10000;
}

@media (max-width: 450px) {
  .logo {
    width: 150px;
    padding: 30px;
    padding-right: 8px;
  }
  .logo h1 {
    font-size: 20px;
  }
  .set h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 15px;
  }
  .user-details .input-box input {
    height: 50px;
    width: 300px;
    outline: none;
    border: 2px #dddddd solid;
    background-color: #dddddd;
    padding-left: 15px;
    border-radius: 5px;
  }
  .savebtn button {
    height: 45px;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin-top: -7px;
    outline: none;
    border: none;
    background-color: #540d6e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #320842;
    background: #fff;
  }
  .below {
    font-size: 8px;
    justify-content: center;
    display: flex;
    padding: 30px;
  }
}
@media (max-width: 330px) {
  .user-details .input-box input {
    height: 50px;
    width: 220px;
    outline: none;
    border: 2px #dddddd solid;
    background-color: #dddddd;
    padding-left: 15px;
    border-radius: 5px;
  }
  .savebtn button {
    height: 45px;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: -7px;
    outline: none;
    border: none;
    background-color: #540d6e;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid {
    border-color: #320842;
    background: #fff;
  }
  .below {
    font-size: 8px;
    justify-content: center;
    display: flex;
    padding: 30px;
  }
}
