        body {
            display: flex;
            flex-direction: column;
            background-color: white;
        }
        
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
            overflow: hidden;
        }
        
        li {
            float: right;
        }
        
        a {
            display: block;
            padding: 8px;
            /* background-color: #dddddd; */
        }
        
        li a:hover {
            color: #6BB7CA;
            text-decoration: underline;
        }
        
        .nav {
            font-family: myfirst;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #555555;
        }
        
        li a {
            display: block;
            /* color: white; */
            text-align: right;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        .topdiv {
            display: flex;
            flex-direction: row;
            /* gap: 200px; */
        }
        
        .navdiv {
            /* float: inline-end; */
            /* float: right; */
            margin-left: 600px;
        }
        
        .logo {
            display: flex;
            flex-direction: column;
            padding: 20px;
            /* gap: 20px; */
            margin-left: 100px;
        }
        
        .triangle {
            -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            background: #46A5BD;
            width: 116px;
            height: 54px;
            margin-bottom: 5px;
        }
        
        .hub {
            /* position: absolute; */
            width: 116px;
            height: 66px;
            left: -0.5px;
            top: 42px;
            font-family: myfirst;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            text-align: center;
            color: #555555;
        }
        
        .seconddiv {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
        }
        
        .needs {
            /* position: absolute; */
            width: 590px;
            height: 595px;
            left: 120px;
            top: 200px;
            background: #B5DBE5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            gap: 10px
        }
        
        h2 {
            font-family: mysecond;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 47px;
            text-transform: uppercase;
            color: #555555;
        }
        
        .bold {
            font-size: 55px;
            font-family: myfirst;
        }
        
        .needs-p {
            font-family: mythird;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            /* text-align: justify; */
            color: #555555;
            align-items: center;
            margin-left: -20px;
            margin-bottom: 50px;
        }
        
        .needs-btn {
            width: 184px;
            height: 60px;
            background: #166275;
            border-radius: 10px;
            font-family: mythird;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            border: none;
            margin-left: -210px;
        }
        
        .jaketdiv {
            /* position: absolute; */
            /* position: absolute; */
            display: flex;
            flex-direction: column;
            width: 610px;
            height: 625px;
            left: 710px;
            top: 200px;
            background: #ECECEC;
            /* justify-content: center;
        align-content: center; */
            justify-items: center;
            align-items: center;
            gap: 30px;
        }
        
        .jaket {
            width: 397px;
            height: 453px;
            background: url(jaket.png);
            filter: drop-shadow(24px -4px 30px rgba(120, 120, 120, 0.2));
        }
        
        .jaket2 {
            display: flex;
            flex-direction: row;
            /* align-content: center;
            align-items: center;
            justify-items: center;
            justify-content: center; */
        }
        
        .thirty {
            /* position: absolute; */
            width: 100px;
            height: 100px;
            /* left: 462px; */
            /* top: 69px; */
            background: #B5DBE5;
            border-radius: 100px;
            font-family: myfirst;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 28px;
            color: #555555;
            margin-top: 70px;
            /* align-content: center;
            align-items: center;
            justify-items: center;
            justify-content: center; */
        }
        
        .jprice {
            width: 217px;
            height: 40px;
            /* background: #B5DBE5; */
            display: flex;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            justify-content: center;
            align-content: center;
            /* gap: 10px; */
        }
        
        .one {
            /* position: absolute; */
            width: 110px;
            height: 40px;
            /* left: 107px; */
            top: 0px;
            background: #B5DBE5;
            /* margin-top: 30px; */
            /* padding: 5px; */
        }
        
        .one-p {
            font-family: myfirst;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            /* line-height: 28px; */
            text-decoration-line: line-through;
            color: #FDFDFD;
            left: 35px;
            top: 10px;
            margin-bottom: 10px;
        }
        
        .eight-p {
            font-family: myfirst;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            color: #555555;
        }
        
        .eight {
            /* position: absolute; */
            width: 110px;
            height: 40px;
            /* left: 107px; */
            top: 0px;
            background: #FDFDFD;
            font-family: myfirst;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #555555;
        }
        
        .our {
            font-family: mysecond;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #555555;
        }
        
        .maincat {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px;
            gap: 30px;
        }
        
        .watch {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-items: center;
        }
        
        .bikini {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-items: center;
        }
        
        .shoe {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-items: center;
        }
        
        .watchimg {
            width: 305px;
            height: 624px;
            background: url(watch.png), #FFFFFF;
            box-shadow: 0px 7px 16px rgba(214, 214, 214, 0.2);
            border-radius: 100px;
        }
        
        .cattext {
            font-family: mysecond;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            color: #555555;
        }
        
        .catprice {
            font-family: mythird;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            color: #555555;
        }
        
        .bikinimg {
            width: 305px;
            height: 624px;
            background: url(bikini.png), #FFFFFF;
            box-shadow: 0px 7px 16px rgba(214, 214, 214, 0.2);
            border-radius: 100px;
        }
        
        .shoeimg {
            width: 305px;
            height: 624px;
            background: url(shoe.png), #FFFFFF;
            box-shadow: 0px 7px 16px rgba(214, 214, 214, 0.2);
            border-radius: 100px;
        }
        
        @font-face {
            font-family: myfirst;
            src: url(Roboto-Bold.ttf);
        }
        
        @font-face {
            font-family: mysecond;
            src: url(Roboto-Medium.ttf);
        }
        
        @font-face {
            font-family: mythird;
            src: url(Roboto-Regular.ttf);
        }
        
        @font-face {
            font-family: myfourth;
            src: url(Roboto-Thin.ttf);
        }
        
        @font-face {
            font-family: myfifth;
            src: url(Roboto-Light.ttf);
        }
        
        hr {
            width: 370px;
            height: 2px;
            background: #D9D9D9;
        }
        
        .btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 16px 47px;
            gap: 8px;
            /* position: absolute; */
            width: 385px;
            height: 60px;
            left: 307px;
            /* top: 741px; */
            background: #166275;
            border-radius: 10px;
            border: none;
            color: white;
            font-family: myfifth;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
        
        .xplorediv {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .new {
            width: 206px;
            height: 38px;
            font-family: mysecond;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            color: #555555;
        }
        
        .arrivalsdiv {
            display: flex;
            flex-direction: row;
            gap: 30px;
            justify-content: center;
            align-items: center;
        }
        
        .arrivals {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            gap: 32px;
            width: 383px;
            height: 379px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(134, 45, 255, 0.2);
            border-radius: 16px;
        }
        
        .arrivalsImages {
            width: 286px;
            height: 188px;
            /* background: url(.jpg), #D9D9D9; */
        }
        
        .arrivalsitems {
            font-family: mysecond;
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 48px;
            color: #171717;
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-items: left;
        }
        
        .arrivalsprices {
            font-family: mythird;
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #555555;
        }
        
        .maindiv {
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
            align-content: center;
            justify-items: center;
        }
        
        h4 {
            width: 184px;
            height: 33px;
            font-family: mythird;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            color: #555555;
        }
        
        .divzero {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
            /* top: 300px; */
        }
        
        .divone {
            /* position: absolute; */
            width: 100%;
            height: 650px;
            /* height: 200%; */
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* left: 276px; */
            top: 289px;
            background: url("image 1.png");
            display: flex;
            flex-direction: row;
            align-items: right;
            justify-content: right;
            justify-items: right;
            align-content: right;
        }
        
        .we {
            width: 480px;
            height: 198px;
            margin-bottom: 10px;
            font-family: myfirst;
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 66px;
            text-transform: uppercase;
            color: #FFFFFF;
            /* border: 1px solid #000000; */
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        
        .btn2 {
            width: 200px;
            height: 40px;
            font-family: myfifth;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            /* line-height: 28px; */
            color: #FFFFFF;
            /* flex: none; */
            border: 1px solid white;
            border-radius: 7px;
            /* order: 0; */
            flex-grow: 0;
            background-color: transparent;
        }
        
        .linediv {
            width: 88px;
            height: 4px;
            margin-top: -30px;
            background: #555555;
            border-radius: 100px;
        }
        
        .imgdiv {
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-top: 30px;
        }
        
        .testdiv {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
        }
        
        .brands {
            width: 80px;
            height: 80px;
            /* flex: none; */
            /* order: 0; */
            /* flex-grow: 0; */
        }
        
        .newsdiv {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            gap: 0px;
            /* position: absolute; */
            width: 100%;
            height: 220px;
            left: 0px;
            top: 3483px;
            background: #B0B0B0;
        }
        
        h3 {
            font-family: myfirst;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 0.05em;
            color: #222222;
        }
        
        #mail {
            box-sizing: border-box;
            /* display: flex; */
            /* flex-direction: row; */
            align-items: center;
            padding: 13px 16px;
            gap: 8px;
            width: 582px;
            height: 52px;
            background: #FFFFFF;
            border: 1px solid #555555;
        }
        
         ::placeholder {
            font-family: myfirst;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #555555;
        }
        
        .maildiv {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        
        .subscribe {
            padding: 13px 30px;
            gap: 10px;
            width: 186px;
            height: 52px;
            background: #166275;
            font-family: mythird;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
        }
        
        .agree {
            font-family: myfirst;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.05em;
            color: #555555;
        }
        
        .footer {
            /* position: absolute; */
            width: 100%;
            height: 440px;
            left: 0px;
            top: 3009px;
            background: #D3E9EF;
            display: grid;
            grid-template-areas: 'a b c d' 'e b c f';
            padding: 30px;
            /* padding-left: 100px; */
        }
        
        h1 {
            font-family: myfirst;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
        
        .item-a {
            grid-area: a;
            padding: 50px;
        }
        
        .item-b {
            grid-area: b;
            padding: 50px;
        }
        
        .item-c {
            grid-area: c;
            padding: 50px;
        }
        
        .item-d {
            grid-area: d;
            padding: 50px;
        }
        
        .item-e {
            grid-area: e;
            padding-left: 50px;
            margin-top: -100px;
        }
        
        .item-f {
            grid-area: f;
        }
        
        .paydiv {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        
        .Cdiv {
            display: flex;
            flex-direction: row;
        }
        
        .circles {
            width: 15px;
            height: 15px;
            border: 2px solid;
            border-color: #166275;
            border-radius: 100px;
            margin: 5px;
        }
        
        .filled-circle {
            width: 15px;
            height: 15px;
            border: 2px solid;
            border-color: #166275;
            background: #166275;
            border-radius: 100px;
            margin: 5px;
        }
        
        p {
            font-family: mysecond;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #555555;
        }